body
{
background-image: url("img/hexellence.png");
font-size: 20px;

}
#container
{
    background-color: white;
    width: 300px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    -webkit-box-shadow: 9px 7px 30px -1px rgba(0,0,0,0.63);
    -moz-box-shadow: 9px 7px 30px -1px rgba(0,0,0,0.63);
    box-shadow: 9px 7px 30px -1px rgba(0,0,0,0.63);

}
input[type=text],
input[type=password]
{
    width: 300px;
    background-color: #efefef;
    color: #645464;
    border: 2px solid #dddddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 15px;
}
input[type=text]:focus,
input[type=password]:focus
{
    -webkit-box-shadow: 9px 7px 10px -1px rgba(0,0,0,0.63);
    -moz-box-shadow: 9px 7px 10px -1px rgba(0,0,0,0.63);
    box-shadow: 9px 7px 30px -1px rgba(0,0,0,0.63);
    border: 2px solid #5dbf5d;
    background-color: rgb(225, 237, 223);
    color: #428428;
}


input[type=submit]{
    width: 300px;
    background-color: #36b03c;
    font-size: 20px;
    color: white;
    padding: 10px 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}
input[type=submit]:hover{
    background-color: #37b93d;
}
input[type=submit]:focus
{
    -webkit-box-shadow: 9px 7px 10px -1px rgba(0,0,0,0.63);
    -moz-box-shadow: 9px 7px 10px -1px rgba(0,0,0,0.63);
    box-shadow: 9px 7px 30px -1px rgba(0,0,0,0.63);
}